body{
  margin: 0; /*elimina el margen por defecto*/
  background-color: #ffffff;
}

#title{
  text-align: center;
 
}

#main{
background: #eee;
padding: 20px;
}

ul{
  margin-bottom: 80px;
}
li{
  list-style: none;
  float: left;
  padding-right: 10px;
  cursor: pointer;
  
}
.lang{
  
  color:rgb(211, 51, 51);
  
}


#img-div {
  text-align: center;
}

div img
    {
     max-width: 100%;
    }
 
div figcaption
    {
    text-align: center;
    
    }
.tribut-info{
  margin: 20px 40px 10px 40px;
  padding: 10px 50px 10px 50px;
}
/* .oculta{
  display:none;
  margin: 20px 40px 10px 40px;
  padding: 10px;
} */

.info{
  text-align: center;
  font-size: 1.2em;
  padding-top: 15px;
}

footer{
  margin-bottom: 20px;
}